body {
  height: 700px;
  background-color: black;
}
#header {
  margin: 50px auto 40px;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  padding: 20px 40px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.container .songs {
  width: 500px;
  min-width: 250px;
  max-width: 4500px;
  height: 480px;
  background-color: #000000;
  margin: 0 20px;
  border-radius: 10px;
  transition: transform 0.9s, background-color 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  background-size: cover;
  text-align: center;
}

.container .songs .song {
  width: 130px;
  height: 130px;
  background-color: #1f1f1f;
  border-radius: 75px;
  margin: 10px;
  border: 1px solid #888888;
  transition: 0.2s;
  background-size: 170px;
  background-position: -20px -15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkto {
  font-size: 20px;
  color: white;
  opacity: .7;
}
.linkto
.container .songs:hover {
  border: 2px solid #c3c3c3;
}
.container .songs .song:hover {
  transform: scale(1.27);
  backface-visibility: hidden;
}
.container .songs:nth-child(1) {
  background-image: url("./images/bg1.jpg");
}
.container .songs:nth-child(2) {
  background-image: url("./images/bg2.jpg");
}
.container .songs:nth-child(3) {
  background-image: url("./images/bg3.jpg");
}

#table1 .song:nth-child(1) {
  background-image: url("./images/1.jpg");
}
#table1 .song:nth-child(2) {
  background-image: url("./images/2.jpg");
}
#table1 .song:nth-child(3) {
  background-image: url("./images/3.jpg");
}
#table1 .song:nth-child(4) {
  background-image: url("./images/4.jpg");
}
#table1 .song:nth-child(5) {
  background-image: url("./images/5.jpg");
}

#table2 .song:nth-child(1) {
  background-image: url("./images/6.jpg");
}
#table2 .song:nth-child(2) {
  background-image: url("./images/7.jpg");
}
#table2 .song:nth-child(3) {
  background-image: url("./images/8.jpg");
}
#table2 .song:nth-child(4) {
  background-image: url("./images/9.jpg");
}
#table2 .song:nth-child(5) {
  background-image: url("./images/10.jpg");
}

#table3 .song:nth-child(1) {
  background-image: url("./images/11.jpg");
}
#table3 .song:nth-child(2) {
  background-image: url("./images/12.jpg");
}
#table3 .song:nth-child(3) {
  background-image: url("./images/13.jpg");
}
#table3 .song:nth-child(4) {
  background-image: url("./images/14.jpg");
}
#table3 .song:nth-child(5) {
  background-image: url("./images/15.jpg");
}
